@font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.ttf");
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
   
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.header {
    position: absolute;
    top: 25px;
    left:0;
    right: 0;
    text-transform: uppercase;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 24px;
}

.menu-list-link,
span {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem 90px;
}

.input-header {
    width: 248px;
    height: 25px;
    padding: 5px 10px;
}

.input-style {
    font-family: inherit;
    border-radius: 50px;
    border: none;
    background-color: #3c3b3d;
}

.bg-banner {
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}

.pt-200 {
    padding-top: 200px;
}

.pb-200 {
    padding-bottom: 200px;
}

.mb-31 {
    margin-bottom: 31px;
}

.white {
    color: #ffffff;
}

.text-align-center {
    text-align: center;
}

.form-structure {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 1.5rem;
    max-width: 570px;
    margin: 0 auto;
    text-transform: uppercase;
}

.input {
    display: flex;
    flex: 1 1 200px;
    min-height: 50px;
    padding-left: 20px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background-color: transparent;
}

.m-16{
    margin: 16px 0;
}

.page-descrip-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }



.form-structure ::placeholder {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.btn {
    width: 100%;
    height: auto;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
}

.btn-style {
    border-width: 0px;
    border-style: solid;
    background-color: #34c176;
    text-decoration: none;
    color: #ffffff;
}


.page-pricing-inner{
    display: flex;
    flex-wrap: wrap;
    gap:45px 46.8px;
    margin-bottom: 43px;

}

.pricing-item{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
    flex-direction: column;
    max-width: 450px;  
    text-align: center;
    border-radius: 16px;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page-pricing-h2 {
    padding: 101px 0 45px;
}

.pricing-item h3{
    padding: 24px 0 200px;
}

.bg-sub-1 {
    background-image: url(../images/subscribe_1.png);
    background-position: center;
    background-size: cover;
    
}

.bg-sub-2 {
    background-image: url(../images/subscribe_2.png);  
    background-position: center;
    background-size: cover;
}

.bg-sub-3 {
    background-image: url(../images/subscribe_3.png);
    background-position: center;
    background-size: cover;
}

.w-59{
    width: 59px;
}

.h-13{
    height: 13px;
}

.pricing-value{
    display: flex;
    gap: 0 16px;
    justify-content: center;
    
    text-transform: uppercase;

    font-size: 64px;
    line-height: 64px;
}

.pricing-value sup:nth-child(2){
    font-size: 32px;
    line-height: 48px;
    
}

.pricing-item .btn {
    background-color: transparent;
    border: 1px solid #ffffff;
    width: 100%;
    height: auto;
    padding: 24.5px 30px 24.5px 30px;
    margin: 40px 0 64px;
}

.pricing-footer{
    font-size: 12.8px;
    line-height: 150%;
    margin: 0 0 64px;
    color: #ffffff;
}

.page-pricing-bottom{
    text-align: center;
}













.bg-gradient{
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

.footer-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
    align-items: center;
    justify-content: flex-start;
}

.footer-col {
    flex-grow: 1;
    padding: 62px 0 72px 0;
}

.footer-col h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-col a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.footer-end{
    display: flex;
    gap: 0 16px;
    padding-top: 40px;
    padding-bottom: 49px;
}


.fs-16{
    font-size: 16px;
}

.page-news-h2{
    padding-top: 100px;
    padding-bottom: 48px;
}

.page-news-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.news-item-0{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    
}

.news-item{
    display: flex;
   
    justify-content: space-between;
    
}

.text-transform-none{
    text-transform: none;
}

.news-header-h3{
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    padding-bottom: 30px;
    text-transform: none;
}

.news-header-h3-0{
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    padding-top: 65px;
    padding-bottom: 30px;
    text-transform: none;
}
.mb-28{
    margin-bottom: 28px;
}

.news-body-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 30px;
}

.news-body-wrapper-0{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.fs-12{
    font-size: 12.8px;
    line-height: 150%;
}

.btn-page-news{
    padding: 16px 30px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    display: inline;
    max-width: 135px;
}

.news-author{
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.news-footer{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 24px;
}

.news-footer-0{
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 15px;
}

.orange{
    color: #f89202;
}

.dark-gray{
    color: #cacaca;
}

.news-item-img-0{
    max-width: 575px;
    max-height: 286px;
}

.pt-100{
    padding-top:100px;
}

.m-t-b-16{
    margin: 16px 0;
}

.mb-100{
    margin-bottom: 100px;
}

.page-app-inner{
    display: flex;  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 9rem;
}

.page-app-text{
    
    flex: 1 1 350px;
    max-width: 600px;
    line-height: 1.5;
}

.page-app-img{
    display: flex;
    justify-content: center;
    
}

.pb-48{
    padding-bottom: 48px;
}

.page-app-link{
    padding: 19px 40px;
    border: none;
    border-radius: 32px;
    background: #95390c;
    max-width: 131px;
    margin-top: 16px;
    display: block;
   
}

.bg-Morten-Harket{
    background-image: url('../images/Morten\ Harket.png');
    background-position: center;
    background-size: cover;
}

.pt-250{
    padding-top: 250px;
}

.wrapper-to-btn{
    display: flex;
    gap: 0 24px;
    margin-top: 48px;
    padding-bottom: 223px;
}

.page-description-header{
    padding-bottom: 16px;
}

.page-descrip-links{
    display: flex;
    gap: 0 16px;
    font-size: 12.8px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: none;
    border-radius: 5px; 
    width: 200px;   
}

.bg-red{
    background-color: #95390c;
}

.bg-purple{
    background-color: #5328a1;
}

.ppt-header{
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 48px;
}

.ppt-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0;
}

.ppt-menu-item{
    display: flex;
    width: 50%;
    align-items: center;
    
}

.ppt-menu-img{
    width: 55px;
    height: 55px;
}

.ppt-menu-text{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    color: #ffffff;
    font-size: 12.8px;
}

.ppt-menu-text  p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    
}

.ppt-menu-text  p:nth-child(2) {
    color: #e0e0e0;
    
}

.to-right{
    margin-left: auto;
}

.fs-12{
    font-size: 12.8px;
}

.mr-49{
    margin-right: 49px;
}

/** page-discography **/

.pd-header{
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 23px;
}

.pd-inner{
    display: flex;
    flex-wrap: wrap;
}

.pd-item{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 25px;
}

.pd-item-img{
    width: 250px;
    height: 250px;
    
}

.pd-item p:nth-child(2){
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 18px;
}

.page-similar-header{
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 48px;
    line-height: 57px;
}

.page-similar-inner{
    display: flex;
    flex-wrap: wrap;
    
    text-align: center;
    gap: 25px 50px;
    margin-bottom: 100px; 
}

/* .page-similar-item-img{
    padding-bottom: 17px;
} */

.page-similar-item p:nth-child(2){
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: #ffffff;
}

.page-similar-item p:nth-child(2){
    padding-top: 15px;
}







@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-transform: uppercase;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .news-item-img-0,
    .news-item-img {
        width: 100%;
        height: auto;
    }

    .header .container{
        margin:0;
    }

    .header-inner,
    .footer-inner {
        flex-direction: column;
        align-items: flex-start;
    }


    .p-lf-rt-20{
        padding: 0 20px;
    }

    .menu-list {
        flex-direction: column;
        line-height: 1;
    }

    .input-header {
        width: 100%;
        height: 30px;
    }

    .header-inner .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;    
    }

    header .container {
        padding: 0;
    }

    .menu-list {
        gap: 0;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .h-50{
        height: 50px;
    }

    .menu-list-main{
        font-weight: 400;
    }

   .to-700{
    font-weight: 700;
   }

   .input-main-2{
    margin-top: 0;
   }

    .page-description-inner {
        padding: 225px 0 0;
    }

    .page-description-inner-main {
        padding: 248px 0 0;
    }

    .mb-16{ 
        margin-bottom: 14.95px;
    }

    .mb-28{
        margin-bottom: 0;
    }

    

    .footer-inner{
        padding-top: 62px;
        padding-bottom: 75px;
        gap: 30px 0; 
    }

    .footer-col{
        padding:0;
    }

    .footer-end{
        flex-direction: column;
        gap: 16px 0;
    }

    .news-item{
        display: block;
    }

    .news-item-img,
    .news-item-img-0{
        width: 100%;
    }

    .news-body-wrapper{
        padding:0;
    }

    .news-body-wrapper-0{
        display: flex;
        width: 100%;
    }

    .news-header-h3,
    .news-header-h3-0{
        font-size: 16px;
    }

    .news-item-0{
        display: flex;
        flex-direction: column-reverse;
    }

    .mb-64{
        margin-bottom: 64px;
    }

    .pt-50{
        padding-top: 50px;
    }

    .pb-16{
        padding-bottom: 16px;
    }

    .page-app-inner{
        flex-direction: column;
    }

    .page-app-text{
        order: 1;
        width: 100%;
    }

    .page-app-img{
        width: 100%;
    }

    .wrapper-to-btn{
        flex-direction: column;
    }

    .bg-purple{
        margin-bottom: 24px;
    }

    .ppt-menu{
        flex-direction: column;
        
    }

    .ppt-menu-item{
        width: 100%;
    }
    
   .mr-49 {
    margin-right: 0;
   }

   .pd-item{
   padding: 0;
   }

   .pd-header{
    padding-bottom: 49px;
   }

   .pd-inner{
    gap: 25px 50px;
   }

   .pd-item p{
    width: 137px;
   }

   .pd-item-img{ 
    width: 137px;
    height: 137px;
    padding:0;
    }

   /* .pd-item-img:nth-child(odd){
    margin-right: 50px;
   } */

   .page-similar-item-img{
    width: 137px;
    height: 137px;
   }

   .page-similar-inner{
    justify-content: flex-start;
    gap: 25px 50px;
   }

   .page-similar-header{ 
    line-height: 27px;
   }

   .page-similar-item p{
    width: 137px;
    line-height: 1.4;
   }

   .news-body-Eminem h3 {
    padding-top: 47px;
    padding-bottom: 16px;
    line-height: 24px;

   }

   .form-structure{
    padding-bottom: 201px;
   }

   .logo{
    gap: 0 16px;
    font-weight: 700;
   }

   

   .pricing-item h3 {
    padding: 16px 0 200px;
}

.page-pricing-h2 {
    padding: 101px 0 44px;
}
   
}

