@import "variables";
@import "general";
@import "header";
@import "atom-styles";
@import "page-description";
@import "page-pricing";
@import "page-news";
@import "page-app";
@import "page-popular-track";
@import "page-discography";
@import "page-similar-header";
@import "footer";

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .news-item-img {
    width: 100%;
    height: auto;
  }

  .header-inner,
  .footer-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-list {
    flex-direction: column;
    line-height: 1;
    gap: 0;
    margin-bottom: 18px;
    font-weight: 700;
  }

  .input-header {
    width: 100%;
    height: 30px;
  }

  .header-inner .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .h-50 {
    height: 50px;
  }

  .menu-list-main {
    font-weight: 400;
  }

  .to-700 {
    font-weight: 700;
  }

  .input-main-2 {
    margin-top: 0;
  }

  .page-description-inner {
    padding: 225px 20px 0;
  }

  .page-description-inner-main {
    padding: 248px 20px 0;
  }

  .mb-15 {
    margin-bottom: 14.95px;
  }

  .mb-size {
    margin-bottom: 0;
  }

  .footer-inner {
    padding-top: 62px;
    padding-bottom: 72px;
    gap: 30px 0;
  }

  .footer-col {
    & .mb-19 {
      margin-bottom: 19px;
    }
  }

  .footer-end {
    flex-direction: column;
    gap: 16px 0;
  }

  .news-item {
    display: block;
    width: 100%;
  }

  .news-header-h3 {
    font-size: 16px;
    line-height: 24px;
    padding-top: 45px;
    padding-bottom: 16px;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .mb-64 {
    margin-bottom: 64px;
  }

  .pt-50 {
    padding-top: 50px;
  }

  .pb-16 {
    padding-bottom: 16px;
  }

  .page-app-text {
    order: 1;
    width: 100%;
  }

  .page-app-img {
    width: 100%;
    justify-content: center;
  }

  .wrapper-to-btn {
    flex-direction: column;
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  .ppt-menu {
    flex-direction: column;
  }

  .ppt-menu-item {
    width: 100%;
  }

  .mr-size {
    margin-right: 0;
  }

  .pd-header {
    padding-bottom: 49px;
  }

  .pd-inner {
    gap: 25px 50px;
  }

  .pd-item p {
    width: 137px;
  }

  .pd-item-img {
    width: 137px;
    height: 137px;
    padding: 0;
  }

  .page-similar-item-img {
    width: 137px;
    height: 137px;
  }

  .page-similar-inner {
    justify-content: flex-start;
    gap: 25px 50px;
  }

  .page-similar-header {
    line-height: 27px;
  }

  .page-similar-inner p {
    width: 137px;
    line-height: 1.4;
  }

  .news-body-inner h3 {
    padding-top: 47px;
    padding-bottom: 16px;
    line-height: 24px;
  }

  .form-structure {
    padding-bottom: 201px;
  }

  .logo {
    gap: 0 16px;
    font-weight: 700;
  }

  .pricing-item h3 {
    padding: 16px 0 200px;
  }

  .page-pricing-inner {
    gap: 50px 50px;
    margin-bottom: 39px;
  }

  .color-mod-gray {
    color: $gray;
  }

  .color-mod-white {
    color: $white;
  }

  .mobile-p-0 {
    padding: 0;
  }
}
