.white {
  color: $white;
}

.orange {
  color: $orange;
}

.dark-gray {
  color: $dark-gray;
}

.gray {
  color: $gray;
}

.text-transform-none {
  text-transform: none;
}

.text-align-center {
  text-align: center;
}

.list-style-none {
  list-style: none;
}

.text-decor-none {
  text-decoration: none;
}

.to-upper-case {
  text-transform: uppercase;
}

.bg-red {
  background-color: $red;
}

.bg-purple {
  background-color: $purple;
}

.pt-200 {
  padding-top: 200px;
}

.pt-250 {
  padding-top: 250px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mb-31 {
  margin-bottom: 31px;
}

.m-16 {
  margin: 16px 0;
}

.w-59 {
  width: 59px;
}

.h-13 {
  height: 13px;
}

.fs-12 {
  font-size: 12.8px;
}

.lh-150 {
  line-height: 150%;
}

.fs-12-0 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.mb-size {
  margin-bottom: 28px;
}

.pt-100 {
  padding-top: 100px;
}

.m-t-b-16 {
  margin: 16px 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-48 {
  padding-bottom: 48px;
}

.to-right {
  margin-left: auto;
}

.mr-size {
  margin-right: 49px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pricing-item {
  padding-top: 2px;
}

.pl-50 {
  padding-left: 50px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-18 {
  padding-top: 18px;
}

.pt-15 {
  padding-top: 15px;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}
