body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $Dark-gray;
  background-color: $Black;
}

/* Заголовок первого уровня на десктопной версии */

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Заголовок второго уровня на десктопной версии */

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Заголовок первого уровня на мобильной версии */

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* Заголовок второго уровня на мобильной версии */

@media (max-width: 767px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
