@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: Roboto-Bold;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.woff");
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

ul li {
  color: $gray;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $dark-gray;
  background-color: $black;
  margin: 0;
  padding: 0;

  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  color: $white;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.btn {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
}

.btn-style {
  border-width: 0;
  border-style: solid;
  background-color: $grin;
  text-decoration: none;
  color: $white;
}
