.page-similar-header {
  padding-top: 100px;
  padding-bottom: 48px;
}

.page-similar-inner {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 25px 50px;
  margin-bottom: 100px;
}

.page-similar-inner p:nth-child(2) {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: $white;
}
