.page-news-h2 {
  padding-top: 100px;
  padding-bottom: 48px;
}

.page-news-wrapper {
  display: flex;
  flex-flow: column wrap;
}

.news-item {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.news-item-img-0 {
  max-width: 575px;
  max-height: 286px;
}

.news-header-h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  padding-bottom: 30px;
  text-transform: none;
}

.news-body-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.btn-page-news {
  padding: 16px 30px;
  border: 1px solid $dark-gray;
  border-radius: 5px;
  display: inline;
  max-width: 135px;
}

.news-author {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.news-footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 24px;
}

.news-footer-0 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 15px;
}
