.page-app-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 9rem;
}

.page-app-text {
  flex: 1 1 350px;
  max-width: 600px;
  line-height: 1.5;
}

.page-app-img {
  display: flex;
}

.page-app-link {
  padding: 19px 40px;
  max-width: 131px;
  margin-top: 16px;
  display: block;
}

.page-app-link-style {
  border: none;
  border-radius: 32px;
  background-color: $red;
}
