.page-pricing-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 46.8px;
  margin-bottom: 43px;
}

.pricing-item {
  display: flex;
  flex: 1 1 350px;
  flex-flow: column wrap;
  max-width: 450px;
  text-align: center;
  border-radius: 16px;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.page-pricing-h2 {
  padding: 101px 0 45px;
}

.pricing-item h3 {
  padding: 24px 0 200px;
}

.bg-sub-1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}

.bg-sub-2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}

.bg-sub-3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}

.pricing-value {
  display: flex;
  gap: 0 16px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 64px;

  sup:nth-child(2) {
    font-size: 32px;
    line-height: 48px;
  }
}

.pricing-item .btn {
  width: 100%;
  height: auto;
  padding: 24.5px 30px;
  margin: 40px 0 64px;
}

.btn-border-style {
  border: 1px solid $white;
}

.pricing-footer {
  margin: 0 0 64px;
}

.pricing-footer-style {
  color: $white;
  font-size: 12.8px;
  line-height: 150%;
}
